
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,300&family=Lato:wght@300;900&family=Righteous&family=Roboto:wght@300&display=swap');

body{
    background-color: bisque;
    
}
.teams{
    margin: 5rem;
    font-family: 'Righteous', cursive;
    color: black;

    
    

}

h1{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: black    ;
}



.row1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.row2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rows{
    display: flex;
}

h2{
    text-decoration: underline;
    color: black;
}


@media only screen and (max-width: 750px) {
    .rows , .row1 , .row2 , h2{
        
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
   }
 }

