.card{
    margin: 1.5rem;
    width: 12rem;
    margin: 5rem;
    font-family: 'Righteous', cursive;
    color: black;

    
  }
  
 


.card img{
    filter: inherit;
    width: 100%;
    height: 10rem;
}

.networks{
    display: flex;
}

.favicons img{
    height: 2rem;
    width: 2rem;
}
.card:hover{

    
    border-radius: 5px;
    cursor: pointer;
   
    background-color: rgb(202, 198, 198);
}

.favicons img:hover{
    filter: invert();
  
}


    