@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,300&display=swap');


img{
    height: 80px;
    filter: invert();

}

.navbar{
    width: 100%;
}

.container-fluid{
    background-image: linear-gradient(to bottom right, rgb(27, 124, 0), rgb(0, 255, 17));
    background-image: linear-gradient(to bottom right,  rgb(2, 47, 2), rgb(4, 118, 11));
 
    font-weight: 1000;
 
    animation-name: example;
    animation-duration: 2s;
    width: 100%;
    
}


@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
  }
.nav-link{
    color: white;
    margin: 0 2rem;
    font-family: 'Josefin Sans', sans-serif;
}